/* colors */
:root {
  --black: #000;
  --gray: #8e8e8e;
  --white: #FFF;

  --footer-height: 60px;

    /*
    @media (min-width: 576px) { ... }
    @media (min-width: 768px) { ... }
    @media (min-width: 992px) { ... }
    @media (min-width: 1200px) { ... }
    @media (min-width: 1400px) { ... }
  */
}

body {
  margin: 0;
  font-family: 'Georgia';
}

.header {
  background-color: var(--black);
  height: 60px;
  width: 100%;
  color: var(--white);

}

.header-content {
  padding: 0.5rem;
}

.logo {
  width: 300px;
  color: #FFF;
}

.body {

}

.container {
  position: relative;
  min-height: 100vh;
}

.content {
  padding: var(--content-padding);
  padding-bottom: var(--footer-height);
  padding: 1rem;
}

footer {
  background-color: var(--black);
  height: 75px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
  color: var(--white);
}
.footer-content {
  padding: 0.5rem;
}

@media (min-width: 576px) {
  .header {
    height: 80px;
  }
  .logo {
    width: 400px;
  }
}