/* colors */
:root {
  --black: #000;
  --gray: #8e8e8e;
  --white: #FFF;

  --content-padding: 1rem;
  --footer-height: 60px;

    /*
    @media (min-width: 576px) { ... }
    @media (min-width: 768px) { ... }
    @media (min-width: 992px) { ... }
    @media (min-width: 1200px) { ... }
    @media (min-width: 1400px) { ... }
  */
}


/* begin global */
body {
  margin: 0;
  font-family: 'Georgia';
  background-color: #cbc5c5;
  font-size: 1.125rem;
}

.unstyled-button {
  border: 0;
  outline: unset !important;
  background: none;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  color: unset;
}
/* end global */

.header {
  background-color: var(--black);
  height: 60px;
  width: 100%;
  color: var(--white);
}

.header-content {
  padding: 0.5rem;
}

.logo {
  width: 300px;
  color: #FFF;
}

.menu {
  padding: var(--content-padding);
}
.menu ul {
  padding-left: 0;
}
.menu li {
  list-style: none;
  display: inline-block;
  margin-right: 0.5rem;
}

.menu button.active {
  text-decoration: underline !important;
}

.container {
  position: relative;
  min-height: 100vh;
  background-color: #FFF;
  box-shadow: 0px 0px 8px #999;
}

.content {
  padding: var(--content-padding);
  padding-bottom: var(--footer-height);
}

footer {
  display: flex;
  background-color: var(--black);
  height: 75px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
  color: var(--white);
}
.footer-content {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

@media (min-width: 576px) {
  .header {
    height: 80px;
  }
  .logo {
    width: 400px;
  }
}